.prikol {
    color:blueviolet;
    font-size: 36px;
    font-family: Florida Vibes;
}
.background {
    background-color: aquamarine;
}
.rabota {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:purple
}
.anekdot {
    font-weight: 700;
    font-size: medium;
}
.avtoritet {
    width: 369px;
    height: 200px;
    margin: 50px;
    padding: 35px 669px;
}
.image {
    width: 1500px;
    height: 1000px;
}

.text {
    margin-left: 25px;
}
.text1 {
    margin-left: 50px;
}
.USA {
    width: 600px;
    height: 300px;
}
.mainblock {
    display: flex;
    flex-direction: column

}
.image2 {
    display: flex;
    justify-content: center
}
.USA2 {
    display: flex;
    justify-content: row;
    
}